html {
	background-color: #fafafa;
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

ul {
	padding:0;
}

/* The header */
#header {
  color: #626262;
  margin: auto;
  padding-top: 100px;
  width: 5em;
  font-size: 7em;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

#container {
	width: 750px;
	margin:auto;
	background-color: #fff;
	height: 100%;
	border-right: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
}