/* The div of the buttons */
#buttonList {
  margin-top: 300px;
}

/* The class of both buttons */
.buttons {
  width: 500px;
  height: 60px;
  display: block;
  margin: auto;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: all 0.25s;
  text-decoration: none;
}

/* The two different buttons' custom color*/

#create {
  background-color: #F46036;
}

#create:hover {
  background-color: #c34c2b;
}

#tell {
  background-color: #145C9E;
}

#tell:hover {
  background-color: #10497e;
}
