/* The div of the buttons */
#buttonList {
  margin-top: 300px;
}

/* The class of both buttons */
.buttons {
  width: 500px;
  height: 60px;
  display: block;
  margin: auto;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: all 0.25s;
  text-decoration: none;
}

/* The two different buttons' custom color*/

#create {
  background-color: #000000;
}

#create:hover {
  background-color: #191919;
}

#tell {
  background-color: #fff;
  color: #000000;
}

#tell:hover {
  background-color: #e5e5e5;
}

#container {
  height: 500px;
  width: 600px;
  background-color: #fff;
  text-align: center;
  margin: auto;
}