/* HTML has to be 100% so that the menubar get's the correct height */
html {
	height: 100%;
}

/* Body has to be 100% so that the menubar get's the correct height */
body {
	height: 100%;
	margin: 0;
}

/* The menu bar to the left */
#menubar {
	height: 100%; 
	width: 300px;
	background-color: #F46036;
	transition: all 1s;
	z-index: 1000;
	position: fixed;
}

/* The class that hides the menu */
.hideMenu {
	margin-left: -300px;
}

/* The button that hides the menu */
#menuButton {
	padding-top: 30px;
	margin-left: 210px;
	height: 60px;
	width: 60px;
	vertical-align: middle;
}

/* The class that creates the cross */
.box {
	height: 10px;
	width: 50px;
	background-color: #fff;
	margin:auto;
	position: relative;
	vertical-align: middle;
	margin-top: 25px;
	transition: all 0.35s;
}

/* Part 1 of the cross */
#box1 {
	z-index: 1000;
}

/* Part 2 of the cross */
#box2 {
	z-index: 1001;
	margin-top: -10px;
}


/* Create the cross */
#menuButton:hover > #box1 {
	transition: all 0.35s;
	transform: rotate(-45deg);
}

/* Create the cross */
#menuButton:hover > #box2 {
	transition: all 0.35s;
	transform: rotate(45deg);
}

/* The button that shows the menu */
#showMenuButton {
	position: fixed;
	top: 30px;
	left: 210px;
	background-color: #fff;
	z-index: 10;
	height: 60px;
	width: 60px;
}

/* The class that creates the plus sign */
.plus {
	height: 10px;
	width: 50px;
	background-color: #F46036;
	position: relative;
	vertical-align: middle;
	margin:auto;
}

/* Part 1 of the plus */
#plus1 {
	margin-top: 25px;
}

/* Part 2 of the plus */
#plus2 {
	margin-top: -10px;
	transform: rotate(90deg);
}
