html {
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
	width: 100%;
}

/* The div of the page content */
#pageContent {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1000;
}

/* The div of the buttons */
#buttonDiv {
	position: relative;
	width: 600px;
	height: 400px;
	margin: auto;
	margin-top: 500px;
	z-index: 1002;
	text-align: center;
}

/* The div that if clicked marks a task as done */
#taskDone {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1001;
}

/* The outer div of the taskDisplay */
#taskDisplayOuterDiv {
	height: 300px;
	width: 800px;
	margin: auto;
	margin-top: 15%;
	text-align: center;
	font-family: 'Roboto+Mono', monospace;
}

/* The div of the actual taskDisplay */
#taskDisplay {
	font-size: 3em;
	user-select: none; 
}

/* The div that changes color if a task is finnished or skipped */
#taskAction {
	max-height: 0px;
	max-width: 0px;
	margin: auto;
	transition: max-height 1s, max-width 1s;
	z-index: 10000;
	height: 100%;
	width: 100%;
}

/* The class that is added to the taskAction div if a task is finnished */
.taskAction2 {
	background-color: #4de34c;
	max-height: 100% !important;
	max-width: 100% !important;
}

/* The class that is added to the taskAction div if a task is skipped */
.taskAction3 {
	background-color: #ea0001;
	max-height: 100% !important;
	max-width: 100% !important;
}

/* The placeholder of the taskAction div */
#placeHolder {
	height: 100px;
	width: 100px;
}

/* The class of the skip and quit buttons */
.contentButton {
	font-family: 'Roboto+Mono', monospace;
	border: none;
	color: #fff;
	height: 80px;
	width: 600px;
	margin-top: 60px;
	font-size: 2.5em;
}

/* The color of the skipTask button */
#skipTask {
	background-color: #ea0001;
}

/* The color of the quit button */
#quit {
	background-color: #f46036;
}