/* HTML has to be 100% so that the menubar get's the correct height */
html {
	height: 100%;
}

/* Body has to be 100% so that the menubar get's the correct height */
body {
	height: 100%;
	margin: 0;
	background-color: #f6f6f6;
}

/* The menu bar to the left */
#menubar {
	height: 100%; 
	width: 250px;
	background-color: #F46036;
	transition: all 1s;
	z-index: 1000;
	position: fixed;
}

/* The class that hides the menu */
.hideMenu {
	margin-left: -250px;
}

/* The button that hides the menu */
#menuButton {
	padding-top: 30px;
	margin-left: 150px;
	height: 60px;
	width: 60px;
	vertical-align: middle;
}

/* The class that creates the cross */
.box {
	height: 10px;
	width: 50px;
	background-color: #fff;
	margin:auto;
	position: relative;
	vertical-align: middle;
	margin-top: 25px;
	transition: all 0.35s;
}

/* Part 1 of the cross */
#box1 {
	z-index: 1000;
}

/* Part 2 of the cross */
#box2 {
	z-index: 1001;
	margin-top: -10px;
}


#menuContent {
	overflow: hidden;
	width: 200px;
}


#menuList {
	list-style: none;
	color: #fff;
	margin-top: 500px;
	margin-left: 10px;
	font-size: 1.25em;
	padding: 0px;
	font-family: 'Roboto+Mono', monospace;
}

.sideBarSmallMenu {
	font-size: 1.25em;
	margin-left: ;
}

.menuListButton {
	border: none;
	margin-top: 10px;
	margin-left: -5px;
	list-style: none;
	border: none;
	color: #fff;
	font-size: 1.25em;
	font-family: 'Roboto+Mono', monospace;
	background-color: #F46036;
	text-align: left;
}

#listOfLists {
	height: 200px;
	width: 200px;
	padding: 0px;
	margin-top: -25px;
	background-color: #db5630;
	padding-right: 10px;
	overflow-y: scroll;
}

.listOfListsLi {
	margin-left: 5px;
	padding-top: 10px;
	list-style-type: none;	
	color: #e5e5e5;
	word-wrap: break-word;
	border-bottom: 1px solid #F46036;
	transition: 0.15s all;
} 

.listOfListsLi:hover {
	color: #fff;
}





/* Create the cross */
#menuButton:hover > #box1 {
	transition: all 0.35s;
	transform: rotate(-45deg);
}

/* Create the cross */
#menuButton:hover > #box2 {
	transition: all 0.35s;
	transform: rotate(45deg);
}

/* The button that shows the menu */
#showMenuButton {
	position: fixed;
	top: 30px;
	left: 150px;
	z-index: 10;
	height: 60px;
	width: 60px;
}

/* The class that creates the plus sign */
.plus {
	height: 10px;
	width: 50px;
	background-color: #F46036;
	position: relative;
	vertical-align: middle;
	margin: auto;
}

/* Part 1 of the plus */
#plus1 {
	margin-top: 25px;
}

/* Part 2 of the plus */
#plus2 {
	margin-top: -10px;
	transform: rotate(90deg);
}

/* The center div where the lists are displayed */
#container {
	width: 600px;
	min-height: 100%;
	position: relative;
	display: block;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	margin: auto;
	background-color: #fff;
}

#placeholder {
	width: 600px;
	height: 20px;
}

#top {
	width: 600px;
	height: 60px;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
}

#title {
	font-family: 'Roboto+Mono', monospace;
	font-size: 2.5em;
	height: 58px;
	width: 580px;
	vertical-align: middle;
	margin: 0px;
	margin-left: 15px;
	outline: 0px solid transparent;
	border: none;
}

#title: focus {
	outline: 0px solid transparent;
}

#listContent {
	padding-bottom: 15px;
}

.listContentLi {
	width: 500px;
	border-bottom: 1px solid #d3d3d3;
	text-decoration: none;
	list-style-type: none;
	padding: 10px;
	min-height: 30px;
	vertical-align: middle;
}

.crossButton {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-color: #e7e7e7;
	margin: auto;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	vertical-align: top;
}

.actualListText {
	display: inline-block;
	margin: auto;
	margin-top: 5px;
	width: 450px;
	font-family: "Roboto+Mono", monospace;
	font-size: 1.15em;
}

.actualListText:focus {
	outline: 0px solid transparent;
}

#listInput {
	width: 500px;
	min-height: 30px;
	margin-left: 50px;
	resize: none;
	font-family: "Roboto+Mono", monospace;
	font-size: 1.15em;
	border: none;
	outline: 0px solid transparent;
}

#tellMe {
	background-color: #F46036;
	width: 500px;
	height: 50px;
	margin-left: 50px;
	color: #fff;
	font-size: 2em;
	font-family: "Roboto+Mono", monospace;
	border: 0px;
	position: fixed;
	top:90%;
	transition: all 0.25s;
}

#tellMe:hover {
	background-color: #db5630;
}